---
import { footerOptions } from '../common/constants';
import WhatsAppSVG from '../assets/brand_whatsapp.svg';
import PhoneSVG from '../assets/phone.svg';
import LinkButton from './buttons/LinkButton.astro';
import LogoIcon from './icons/LogoIcon.astro';
import { Image } from 'astro:assets';
import GoogleButtonImg from '../assets/google_play.png';
---

<section
  class="flex w-full flex-col items-center justify-between border-t-1 border-t-gray-700 md:flex-row"
>
  <footer class="min-h-64 w-full">
    <div class="flex h-full w-full flex-col items-center justify-center">
      <div
        class="flex w-full flex-col items-center justify-evenly gap-y-8 pt-4 md:flex-row md:items-start md:px-8 md:pt-8"
      >
        <div class="flex items-start justify-center gap-x-6 md:gap-x-12">
          <div class="flex flex-col gap-8">
            <div class="flex flex-col items-start justify-center gap-4">
              <LogoIcon className="size-24" />
              <h1 class="text-xl font-bold">Bakery and Deserts</h1>
            </div>
            <div class="flex flex-col items-start justify-center gap-2">
              <h1 class="text-lg"><strong>Download App</strong></h1>
              <LinkButton id="google-download-button" href="#">
                <Image
                  src={GoogleButtonImg}
                  alt="get_it_on_google_play.png"
                  class="aspect-auto h-auto w-44"
                />
              </LinkButton>
            </div>
          </div>
          <div class="flex flex-col gap-4">
            <h1 class="text-lg"><strong>Contact Us</strong></h1>
            <div class="flex flex-col items-center justify-center gap-2">
              <div class="flex items-start justify-center gap-2">
                <WhatsAppSVG />
                <span
                  class="inline-flex flex-col items-start justify-center gap-1"
                >
                  <p class="text-sm">Whats App</p>
                  <p class="text-sm">+58 424-000-0000</p>
                </span>
              </div>
              <div class="flex items-start justify-center gap-2">
                <PhoneSVG />
                <span
                  class="inline-flex flex-col items-start justify-center gap-1"
                >
                  <p class="text-sm">Call us</p>
                  <p class="text-sm">+58 424-000-0000</p>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="flex items-center justify-center gap-x-12">
          {
            footerOptions.map(({ title, options }) => (
              <div class="flex flex-col items-start justify-center gap-4">
                <div class="flex flex-col items-center justify-center gap-3">
                  <h1 class="text-center text-lg font-bold">{title}</h1>
                  <div class="w-full border-b-2 border-b-white" />
                </div>
                {options.map(({ name, href }) => (
                  <div class="flex w-full items-center justify-start gap-2">
                    <span>
                      <p>•</p>
                    </span>
                    <a href={href} class="hover:cursor-pointer hover:underline">
                      <p class="text-base">{name}</p>
                    </a>
                  </div>
                ))}
              </div>
            ))
          }
        </div>
      </div>
      <div
        class="flex w-full flex-col items-center justify-center gap-4 py-4 md:p-8"
      >
        <div class="w-full border-t-1 border-t-gray-700"></div>
        <div>
          <p>© 2025 All rights reserved. Bakery and Deserts.</p>
        </div>
      </div>
    </div>
  </footer>
</section>
