---
interface Props {
  className?: string;
  expand?: boolean;
  color?: string;
}

const {
  className = '',
  expand = true,
  color = 'border-t-gray-700',
} = Astro.props;
---

<div class:list={[className, 'border-t-1', expand && 'w-full', color]}></div>
