---
interface Props {
  display?: 'column' | 'row';
  className?: string;
}

const { className, display = 'row' } = Astro.props;
const listDisplay = display == 'column' ? 'flex-col' : '';
---

<nav id="nav-section" class={className}>
  <ul
    class:list={[
      'flex grow items-center justify-center gap-2 md:gap-6 lg:gap-8',
      listDisplay,
    ]}
  >
    <slot />
  </ul>
</nav>
