---
import { type Refresher, RefresherImpl } from '@lib/app/Refresher';
import type { ActionError } from 'astro:actions';
import { actions } from 'astro:actions';
import { BASE_URL } from 'astro:env/server';

// TODO: this component could be used to receive and set the nav options for the top bar
// as well as the drawer.

const refresher: Refresher = new RefresherImpl(Astro);
if (refresher.shouldRefresh()) {
  const { data, error } = await Astro.callAction(
    actions.session.getSession,
    null
  );

  if (data && !error) {
    const req = await fetch(`${BASE_URL}/api/auth/refresh`, {
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(data),
      method: 'POST',
    });

    if (!req.ok) {
      refresher.resetRefresh();
      const body: ActionError = await req.json();
      console.error('Refresh error:', body);

      const logoutReq = await fetch(`${BASE_URL}/api/auth/logout`, {
        headers: {
          'Content-Type': 'application/json',
          'x-call-server-logout': '',
        },
        method: 'POST',
      });

      if (!logoutReq.ok) {
        const logoutBody: ActionError = await logoutReq.json();
        console.error('Log out error:', logoutBody);
      }
    } else {
      refresher.updateLastRefresh(new Date());
    }
  } else {
    console.error('Session error:', error);
  }
}
---

<section class="flex min-h-screen w-full flex-col">
  <slot />
</section>
