---
import Main from '@components/Main.astro';
import AdminLayout from '@layouts/AdminLayout.astro';

export async function getStaticPaths() {
  const orders = [
    { id: 1, name: 'Poceta' },
    { id: 2, name: 'Lavamano' },
  ];

  return orders.map(({ id, name }) => ({
    params: { id: id },
    props: { id: id, name: name },
  }));
}

const { id } = Astro.props;
---

<AdminLayout>
  <Main>
    <h1>Product panel {id}</h1>
  </Main>
</AdminLayout>
