---
interface Props {
  id: string;
  className?: string;
}

const { id, className } = Astro.props;

// TODO: edit props to apply different styles for the button
---

<button id={id} class:list={['hover:cursor-pointer', className ?? '']}>
  <slot />
</button>
