---
import LinkButton from './LinkButton.astro';
import { navOptions } from '../../common/constants';
import { Image } from 'astro:assets';

interface Props {
  className?: string;
}

const { className } = Astro.props;
const { name, href, icon } = navOptions.cart;
---

<LinkButton
  id={`${name.toLowerCase()}-button`}
  href={href}
  className={className}
>
  <div class="flex items-center justify-center gap-1">
    <span>{}</span>
  </div>
</LinkButton>
