---
import { Button } from '../ui/button';

interface Props {
  id: string;
  href?: string;
  target?: string;
  className?: string;
}

const { id, href = '#', target = '_self', className } = Astro.props;
---

<Button
  id={id}
  variant="secondary"
  className={`${className} hover:cursor-pointer`}
>
  <slot />
</Button>
<script is:inline define:vars={{ id, href, target }}>
  import { onButtonClick } from '@/scripts/button-click';
  onButtonClick(id, href, target);
</script>
