---
import { Image } from 'astro:assets';
import ChefImg from '../../assets/chef.png';

interface Props {
  linkClass?: string;
  className?: string;
}

const { className, linkClass = '' } = Astro.props;
---

<a href="/" class={linkClass}>
  <Image class={className} src={ChefImg} alt="logo.png" />
</a>
