---
import MenuIcon from '../icons/MenuIcon.astro';

interface Props {
  id?: string;
  className?: string;
}

const { id, className } = Astro.props;
---

<button id={id} class={className}>
  <MenuIcon />
</button>
