---
import { Button } from '../ui/button';
import { Menu } from 'lucide-react';

interface Props {
  id?: string;
  className?: string;
}

const { id = 'menu-button', className } = Astro.props;
---

<Button id={id} variant="secondary" size="icon" className={className}>
  <Menu />
</Button>
