---
import MenuIcon from '../icons/MenuIcon.astro';
import Button from './Button.astro';

interface Props {
  id?: string;
  className?: string;
}

const { id = 'menu-button', className } = Astro.props;
---

<Button id={id} className={className}>
  <MenuIcon />
</Button>
