---
import StoreLayout from '../layouts/StoreLayout.astro';

export const prerender = true;
---

<StoreLayout title="Bakery and Deserts">
  <section class="flex-1">
    <main class="container flex flex-col">
      <h1>Hello World!</h1>
    </main>
  </section>
</StoreLayout>
