---
import StoreLayout from '../layouts/StoreLayout.astro';
---

<StoreLayout title="Bakery and Deserts">
  <section class="min-h-screen flex-1">
    <main class="container flex flex-col">
      <h1>Hello World!</h1>
    </main>
  </section>
</StoreLayout>
