---
import StoreLayout from '../layouts/StoreLayout.astro';

export const prerender = true;
---

<StoreLayout title="Bakery and Deserts">
  <main class="container flex flex-col items-center justify-center">
    <h1>Hello World!</h1>
  </main>
</StoreLayout>
