---
import Main from '@components/Main.astro';
import StoreLayout from '@layouts/StoreLayout.astro';

export const prerender = true;
---

<StoreLayout title="Bakery and Deserts">
  <Main>
    <h1>Hello World!</h1>
  </Main>
</StoreLayout>
