---
import StoreLayout from '../../layouts/StoreLayout.astro';

export async function getStaticPaths() {
  const products = [
    { id: 1, name: 'Poceta' },
    { id: 2, name: 'Lavamano' },
  ];

  return products.map(({ id, name }) => ({
    params: { id: id },
    props: { id: id, name: name },
  }));
}

const { id, name } = Astro.props;
export const prerender = true;
---

<StoreLayout title={name}>
  <main class="min-h-screen">
    <h1>Product {id}</h1>
  </main>
</StoreLayout>
