---
import { Separator } from '@components/ui/separator';
import LogoIcon from '@components/icons/LogoIcon.astro';
import { Button } from '@components/ui/button';
import { Menu } from 'lucide-react';
import ThemeToggle from '@components/buttons/ThemeToggle';
import LinkButton from '@components/buttons/LinkButton';
import { Skeleton } from '@components/ui/skeleton';
import NavMenu from '@components/menu/NavMenu.astro';

export const prerender = true;
---

<header class="flex w-full flex-col">
  <div
    class="flex items-center justify-between gap-2 px-2 py-2 lg:px-4 lg:py-0"
  >
    <div class="flex grow items-center justify-start">
      <Button
        variant="ghost"
        size="icon"
        className="cursor-pointer lg:hidden"
        data-open-drawer-button
      >
        <Menu className="size-fit" />
      </Button>

      <LinkButton
        href="/"
        variant="link"
        size="icon"
        className="hidden lg:inline-block"
      >
        <LogoIcon className="hover:scale-105" />
      </LinkButton>

      <NavMenu className="hidden lg:inline-flex" />
    </div>
    <div class="flex items-center justify-center gap-2">
      <ThemeToggle client:load />
      <div
        class="flex items-center justify-center gap-2"
        hx-get="/partials/profile/menu"
        hx-swap="innerHTML"
        hx-trigger="load"
      >
        <Skeleton className="h-8 w-16 rounded-md" />
        <Skeleton className="size-8 rounded-full" />
      </div>
    </div>
  </div>
  <Separator />
</header>
