<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <script src="https://unpkg.com/htmx.org@2.0.0"></script>
    <script src="https://unpkg.com/htmx-ext-preload@2.0.0/preload.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="/static/styles/global.css" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/static/images/icon/favicon-32x32.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/static/images/icon/apple-touch-icon.png"
    />
    <link rel="manifest" href="/static/images/icon/site.webmanifest" />

    <title>Bakery and Deserts</title>
  </head>
  <body hx-ext="preload">
    <div id="root" hx-get="/components/container" hx-trigger="load" hx-swap="outerHTML" preload></div>
  </body>
</html>
