---
import Main from '@components/Main.astro';
import StoreLayout from '@layouts/StoreLayout.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;

export const prerender = true;
---

<StoreLayout title={title}>
  <Main className="gap-8 py-24">
    <slot />
  </Main>
</StoreLayout>
