---
import TopBar from '../components/bars/TopBar.astro';
import Footer from '../components/Footer.astro';
import DrawerMenu from '../components/menu/DrawerMenu.astro';
import Layout from './Layout.astro';

interface Props {
  title?: string;
}

const { title = 'Bakery and Deserts' } = Astro.props;

export const prerender = true;
---

<Layout title={title}>
  <div id="page-wrapper" class="relative overflow-hidden">
    <DrawerMenu />
    <section
      class="relative z-1 flex min-h-screen w-full flex-col items-center justify-between"
    >
      <TopBar />
      <section class="flex w-full flex-1 grow justify-center">
        <slot />
      </section>
      <Footer />
    </section>
  </div>
</Layout>
