---
import { cn } from '@lib/utils';

interface Props {
  title: string;
  subTitle?: string;
  className?: string;
}

const { title, subTitle, className } = Astro.props;

export const prerender = true;
---

<div class={cn('flex flex-col items-center justify-center gap-1', className)}>
  <h1 class="text-center text-3xl font-bold">{title}</h1>
  <h2 class="text-center text-lg">{subTitle}</h2>
</div>
