---
import AuthTitle from '@auth/components/AuthTitle.astro';
import LinkButton from '@components/buttons/LinkButton';
import { Card, CardContent } from '@components/ui/card';
import AuthLayout from '@layouts/AuthLayout.astro';
import { ArrowRight } from 'lucide-react';
import SignUpForm from '@auth/components/SignUpForm';

export const prerender = true;
---

<AuthLayout title="Sign Up">
  <AuthTitle
    title="Welcome to Bakery and Deserts"
    subTitle="Create an account with us and start enjoying our services!"
  />
  <Card className="w-full max-w-3xl">
    <CardContent>
      <SignUpForm client:load />
    </CardContent>
  </Card>

  <LinkButton
    href="/auth/signin"
    className="inline-flex items-center justify-center gap-2"
  >
    <p>Do you have an account? Sign in here</p>
    <ArrowRight />
  </LinkButton>
</AuthLayout>
