---
import { Button } from '../ui/button';

export const prerender = true;
---

<div class="flex items-center justify-center gap-2">
  <a href="/auth/signin" class="rounded-md">
    <Button variant="outline" className="cursor-pointer">Sign In</Button>
  </a>
  <a href="/auth/signup" class="rounded-md">
    <Button className="cursor-pointer">Sign Up</Button>
  </a>
</div>
