---
import { navOptionList } from '@/common/constants';
import { Separator } from '@/components/ui/separator';
import MenuButton from '@/components/buttons/MenuButton.astro';
import { Button } from '../ui/button';

export const prerender = true;
---

<div
  id="drawer-backdrop"
  class="bg-background/40 ease fixed inset-0 z-40 hidden opacity-0 transition-opacity duration-300"
>
</div>
<aside
  id="nav-drawer"
  class="bg-sidebar ease fixed z-50 hidden h-full w-60 -translate-x-full flex-col overflow-y-auto rounded-tr-md rounded-br-md transition-transform duration-300"
  aria-hidden="true"
>
  <div class="flex items-center justify-start gap-x-4 p-2">
    <MenuButton id="close-drawer-button" />
    <p class="text-base">Bakery and Deserts</p>
  </div>
  <Separator />
  <nav class="flex w-full py-4">
    <ul class="flex grow flex-col gap-2 px-2">
      {
        navOptionList.map(({ name, href, Icon }) => (
          <li>
            <a
              href={href}
              class="w-full rounded-md hover:cursor-pointer"
              aria-label={name}
            >
              <Button
                variant="ghost"
                className="w-full cursor-pointer inline-flex items-center justify-start"
              >
                {Icon && <Icon class="size-6" />}
                <p class="text-base">{name}</p>
              </Button>
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</aside>
<script src="@/scripts/drawer"></script>
