---
import { navOptionList } from '@/common/navOptions';
import { Separator } from '@components/ui/separator';
import { Button } from '@components/ui/button';
import { Menu } from 'lucide-react';
import LinkButton from '@components/buttons/LinkButton';
import { Image } from 'astro:assets';

export const prerender = true;
---

<div
  class="bg-background/40 ease fixed inset-0 z-40 hidden opacity-0 transition-opacity duration-300"
  data-drawer-backdrop
>
</div>
<aside
  class="bg-sidebar ease fixed z-50 hidden h-full w-60 -translate-x-full overflow-y-auto rounded-tr-md rounded-br-md transition-transform duration-300"
  aria-hidden="true"
  data-nav-drawer
>
  <div class="flex h-full grow flex-col items-center justify-between">
    <div class="flex w-full flex-col items-center justify-start">
      <div class="flex w-full items-center justify-start gap-x-4 p-2">
        <Button
          variant="ghost"
          size="icon"
          className="cursor-pointer"
          data-close-drawer-button
        >
          <Menu className="size-fit" />
        </Button>
        <p class="text-base">Bakery and Deserts</p>
      </div>
      <Separator />
      <nav class="flex w-full items-center justify-center py-2">
        <ul class="flex grow flex-col items-center justify-center gap-2 px-2">
          {
            navOptionList.map(({ name, href, icon }) => (
              <li class="w-full">
                <LinkButton
                  href={href}
                  variant="ghost"
                  className="w-full inline-flex items-center justify-start gap-4"
                >
                  {icon && (
                    <Image
                      loading="eager"
                      src={icon}
                      alt={name}
                      class="icon-image"
                    />
                  )}
                  <p>{name}</p>
                </LinkButton>
              </li>
            ))
          }
        </ul>
      </nav>
    </div>
  </div>
</aside>
<script src="@/scripts/drawer"></script>
