---
import Navigation from '../Navigation.astro';
---

<div
  id="drawer-overlay"
  class="pointer-events-none absolute inset-0 z-10 hidden bg-black/35 opacity-0 transition-opacity duration-300"
>
</div>
<aside
  id="drawer-menu"
  class="absolute inset-y-0 z-1000 hidden h-screen w-[60%] -translate-x-full transform overflow-y-auto rounded-lg bg-[#13151a] transition-transform duration-300 ease-in-out sm:w-[40%] md:w-[30%] lg:w-[25%]"
>
  <div class="flex h-full w-full flex-col items-start justify-start">
    <div>profile section</div>
    <div>auth seccion if not authenticated</div>
    <Navigation />
    <div>other section</div>
  </div>
</aside>

<script src="../../scripts/drawer.ts"></script>
