---

---

<aside
  id="drawer-menu"
  class="absolute inset-y-0 z-1000 h-screen w-[60%] -translate-x-full transform overflow-y-auto rounded-lg bg-[#13151a] transition-transform duration-300 ease-in-out sm:w-[40%] md:w-[30%] lg:w-[25%]"
>
  <nav class="flex flex-col gap-2 p-4">
    <h1>NAV</h1>
  </nav>
</aside>
<div
  id="drawer-overlay"
  class="pointer-events-none absolute inset-0 z-10 bg-black/35 opacity-0 transition-opacity duration-300"
>
</div>
