---
import { navOptionList } from '@/common/constants';
import { Separator } from '@/components/ui/separator';
import MenuButton from '@/components/buttons/MenuButton.astro';
import DrawerBackdrop from './DrawerBackdrop.astro';

// TODO: make selected status for nav options
---

<DrawerBackdrop />
<aside class="drawer flex flex-col" aria-hidden="true" data-nav-drawer>
  <div class="flex items-center justify-start gap-x-4 p-2">
    <MenuButton data-drawer-close-button />
    <p class="text-base">Bakery and Deserts</p>
  </div>
  <Separator />
  <nav class="flex w-full py-4">
    <ul class="flex grow flex-col gap-2 px-2">
      {
        navOptionList.map(({ name, href, Icon }) => (
          <li>
            <a
              href={href}
              class="button inline-flex h-10 w-full items-center justify-start"
            >
              {Icon && <Icon class="size-6" />}
              <p class="text-base">{name}</p>
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</aside>
<style>
  .drawer {
    position: fixed;
    background-color: var(--color-sidebar);
    height: 100%;
    width: 240px;
    border-top-right-radius: calc(var(--radius) /* 0.25rem = 4px */ - 2px);
    border-bottom-right-radius: calc(var(--radius) /* 0.25rem = 4px */ - 2px);
    visibility: hidden;
    transform: translateX(-100%);
    transition: transform 0.2s ease;
    z-index: 50;
    overflow-y: auto;
  }
  .drawer.open {
    transform: translateX(0);
  }
</style>
<script src="@/scripts/drawer.ts"></script>
