---
import { Image } from 'astro:assets';
import { navOptionList } from '@/common/navOptions';
import LinkButton from '../buttons/LinkButton';
import { cn } from '@/lib/utils';

type Orientation = 'vertical' | 'horizontal';

interface Props {
  className?: string;
  orientation?: Orientation | undefined;
}

const { className, orientation = 'horizontal' } = Astro.props;

export const prerender = true;
---

<nav class={cn('grow w-full', className)}>
  <ul
    class={cn(
      'flex grow items-center justify-start gap-2 p-2',
      orientation === 'vertical' ? 'flex-col w-full' : ''
    )}
  >
    {
      navOptionList.map(({ href, name, icon }) => (
        <li class={cn(orientation === 'vertical' ? 'w-full' : '')}>
          <LinkButton
            href={href}
            variant="ghost"
            className="flex grow items-center justify-start"
          >
            {orientation === 'vertical' && icon && (
              <Image src={icon} alt={name} class="icon-image" />
            )}

            <p class="text-base font-medium">{name}</p>
          </LinkButton>
        </li>
      ))
    }
  </ul>
</nav>
