---
import { navOptionList } from '@/common/constants.ts';
import { Separator } from '@/components/ui/separator';
import LogoIcon from '../icons/LogoIcon.astro';
import MenuButton from '../buttons/MenuButton.astro';
import CartButton from '../buttons/CartButton.astro';
import { Button } from '../ui/button';

const isAuthenticated = false;
---

<header class="flex w-full flex-col">
  <div class="flex items-center justify-between gap-4 px-2 py-2 lg:px-4">
    <MenuButton className="order-1 lg:hidden" data-open-drawer-button />
    <nav class="hidden lg:order-2 lg:flex lg:flex-1">
      <ul class="flex grow items-center justify-start gap-6">
        {
          navOptionList.map(({ href, name }) => (
            <li>
              <a href={href} class="hover:underline">
                <p class="text-base font-bold">{name}</p>
              </a>
            </li>
          ))
        }
      </ul>
    </nav>

    <a href="/" class="hidden lg:order-1 lg:inline-block">
      <LogoIcon className="size-8 hover:scale-105" />
    </a>

    <div class="order-3 flex items-center justify-center gap-x-4">
      <div class="flex items-center justify-center gap-x-2">
        <!-- TODO: AUTH-PROFILE COMPONENT -->
        {
          isAuthenticated ? (
            <div class="flex items-center justify-center gap-2">
              <CartButton />
              <div>Profile button</div>
            </div>
          ) : (
            <div class="flex items-center justify-center gap-2">
              <a href="/auth/signin" class="rounded-md">
                <Button variant="outline" className="cursor-pointer">
                  Sign In
                </Button>
              </a>
              <a href="/auth/signup" class="rounded-md">
                <Button className="cursor-pointer">Sign Up</Button>
              </a>
            </div>
          )
        }
      </div>
    </div>
  </div>
  <Separator />
</header>
