---
import { navOptionList } from '../../common/constants.ts';
import CartButton from '../buttons/CartButton.astro';
import LinkButton from '../buttons/LinkButton.astro';
import LogoButton from '../buttons/LogoButton.astro';
import MenuButton from '../buttons/MenuButton.astro';
import NotificationButton from '../buttons/NotificationButton.astro';

export const prerender = true;

/*
 * TOP BAR LAYOUT
 * desktop(logo) - mobile(DRAWER MENU) | desktop(NAVIGATION) - mobile(logo) | desktop(CART/NOTIFICATIONS/AUTHENTICATION)
 * */

const isAuthenticated = false;
---

<section
  class="w-full items-center border-b-1 border-solid border-b-gray-700 p-2"
>
  <header class="flex items-center justify-between gap-4 lg:px-4">
    <MenuButton
      id="drawer-button"
      className="order-1 block rounded-sm p-1 hover:scale-105 lg:hidden"
    />

    <nav class="hidden lg:order-2 lg:flex lg:flex-1">
      <ul class="flex grow items-center justify-start gap-6">
        {
          navOptionList.map(({ href, name }) => (
            <li>
              <a href={href} class="hover:underline">
                <p class="text-base font-bold">{name}</p>
              </a>
            </li>
          ))
        }
      </ul>
    </nav>

    <LogoButton className="order-2 hover:scale-105 lg:order-1" />

    <div class="order-3 flex items-center justify-center gap-x-4">
      <div class="flex items-center justify-center gap-x-2">
        <CartButton className="hidden hover:bg-cyan-950 lg:block" />
        <NotificationButton className="hidden hover:bg-cyan-950 lg:block" />
        <!-- TODO: AUTH-PROFILE COMPONENT -->
        {
          isAuthenticated ? (
            <div class="hidden lg:block">Profile button</div>
          ) : (
            <div class="flex items-center justify-center gap-x-2">
              <LinkButton
                id="sign-in-button"
                href="/auth/signin"
                className="py-1 px-2 rounded-md border border-white hover:bg-gray-800"
              >
                <p>Sign In</p>
              </LinkButton>
              <LinkButton
                id="sign-up-button"
                href="/auth/signup"
                className="py-1 px-2 rounded-md bg-gray-700 hover:bg-gray-800"
              >
                <p>Sign Up</p>
              </LinkButton>
            </div>
          )
        }
      </div>
    </div>
  </header>
</section>
