---
import { Separator } from '@/components/ui/separator';
import TopUserMenu from './TopUserMenu.astro';
import LogoIcon from '../icons/LogoIcon.astro';
import MenuButton from '../buttons/MenuButton.astro';
import { navOptionList } from '@/common/constants';
import { Skeleton } from '../ui/skeleton';

export const prerender = true;
---

<header class="flex w-full flex-col">
  <div class="flex items-center justify-between gap-4 px-2 py-2 lg:px-4">
    <a href="/" class="hidden lg:order-1 lg:inline-block">
      <LogoIcon className="size-8 hover:scale-105" />
    </a>
    <MenuButton id="open-drawer-button" className="order-1 lg:hidden" />
    <nav class="hidden lg:order-2 lg:flex lg:flex-1">
      <ul class="flex grow items-center justify-start gap-6">
        {
          navOptionList.map(({ href, name }) => (
            <li>
              <a href={href} class="hover:underline">
                <p class="text-base font-bold">{name}</p>
              </a>
            </li>
          ))
        }
      </ul>
    </nav>

    <div class="order-2 flex items-center justify-center gap-x-4 lg:order-3">
      <TopUserMenu server:defer>
        <div
          class="inline-flex items-center justify-center gap-2"
          slot="fallback"
        >
          <Skeleton className="size-8 rounded-md" />
          <Skeleton className="size-8 rounded-full" />
        </div>
      </TopUserMenu>
    </div>
  </div>
  <Separator />
</header>
