---
import { Button } from '../ui/button';
import CartButton from '../buttons/CartButton.astro';
import { ProfileButton } from '../buttons/ProfileButton';

let isAuthenticated = false;
let imgUrl: string = '';

if (isAuthenticated) {
  imgUrl = 'https://github.com/shadcn.png';
} else {
}
---

{
  isAuthenticated && (
    <div class="flex items-center justify-center gap-2">
      <CartButton />
      <ProfileButton client:load src={imgUrl} />
    </div>
  )
}
{
  !isAuthenticated && (
    <div class="flex items-center justify-center gap-2">
      <a href="/auth/signin">
        <Button variant="outline" className="cursor-pointer">
          Sign In
        </Button>
      </a>
      <a href="/auth/signup">
        <Button className="cursor-pointer">Sign Up</Button>
      </a>
    </div>
  )
}
