---
import { LinkButton } from '@ui/buttons/LinkButton';
import CartButton from '@cart/components/CartButton.astro';
import { ProfileButton } from '@profile/components/ProfileButton';

let isAuthenticated = false;
let imgUrl: string = '';

// TODO: could change profile button image for astro image
if (isAuthenticated) {
  imgUrl = 'https://github.com/shadcn.png';
} else {
}
---

{
  isAuthenticated && (
    <div class="flex items-center justify-center gap-2">
      <CartButton />
      <ProfileButton client:load src={imgUrl} />
    </div>
  )
}
{
  !isAuthenticated && (
    <div class="flex items-center justify-center gap-2">
      <LinkButton variant="outline" href="/auth/signin">
        Sign in
      </LinkButton>
      <LinkButton href="/auth/signup">Sign up</LinkButton>
    </div>
  )
}
