---
import { providerList } from '@/common/providers';
import AuthTitle from '@auth/components/AuthTitle.astro';
import { LinkButton } from '@ui/buttons/LinkButton';
import { Button } from '@ui/ui/button';
import { Card, CardContent, CardFooter } from '@ui/ui/card';
import AuthLayout from '@layouts/AuthLayout.astro';
import { Image } from 'astro:assets';
import { ArrowRight } from 'lucide-react';
import InputComponent from '@/components/inputs/InputComponent.astro';

export const prerender = true;
---

<AuthLayout title="Sign In">
  <AuthTitle
    title="Welcome to Bakery and Deserts"
    subTitle="Plese sign in to continue."
  />
  <Card className="w-full max-w-sm">
    <CardContent>
      <form action="/api/auth/signin" method="post">
        <div class="flex flex-col items-center justify-center gap-6">
          <InputComponent
            className="w-full"
            name="username"
            label="Username"
            type="text"
            placeholder="Your username or email..."
            required
          />
          <div class="flex w-full flex-col items-center justify-center gap-1">
            <InputComponent
              className="w-full"
              name="password"
              label="Password"
              type="password"
              placeholder="Your password..."
              required
            />
            <a
              class="ml-auto inline-block text-sm underline-offset-4 hover:underline"
              href="/auth/forgot/password">Forgot password?</a
            >
          </div>

          <Button className="w-full" type="submit"> Submit </Button>
        </div>
      </form>
    </CardContent>
    <CardFooter>
      <div class="flex w-full flex-col items-center justify-between gap-4">
        <p>Or sign in with</p>
        <div class="flex w-full flex-wrap items-center justify-center gap-2">
          {
            providerList.map(({ name, icon, href }) => (
              <LinkButton
                className="p-1"
                variant="outline"
                size="icon"
                href={href}
              >
                {icon && (
                  <Image
                    loading="eager"
                    src={icon}
                    alt={name}
                    class="aspect-auto size-fit"
                  />
                )}
              </LinkButton>
            ))
          }
        </div>
      </div>
    </CardFooter>
  </Card>
  <LinkButton
    href="/auth/signup"
    className="inline-flex items-center justify-center gap-2"
  >
    <p>Don't have an account? Sign up here</p>
    <ArrowRight />
  </LinkButton>
</AuthLayout>
