---
import { providerList } from '@/common/providers';
import AuthTitle from '@auth/components/AuthTitle.astro';
import LinkButton from '@ui/buttons/LinkButton';
import { Card, CardContent, CardFooter } from '@ui/ui/card';
import AuthLayout from '@layouts/AuthLayout.astro';
import { Image } from 'astro:assets';
import { ArrowRight } from 'lucide-react';
import SignInForm from '@auth/components/SignInForm';

export const prerender = true;
---

<AuthLayout title="Sign In">
  <AuthTitle
    title="Welcome to Bakery and Deserts"
    subTitle="Plese sign in to continue."
  />
  <Card className="w-full max-w-sm">
    <CardContent>
      <SignInForm client:load />
    </CardContent>
    <CardFooter>
      <div class="flex w-full flex-col items-center justify-between gap-4">
        <p>Or sign in with</p>
        <div class="flex w-full flex-wrap items-center justify-center gap-2">
          {
            providerList.map(({ name, icon, href }) => (
              <LinkButton
                className="p-1"
                variant="outline"
                size="icon"
                href={href}
              >
                {icon && (
                  <Image
                    loading="eager"
                    src={icon}
                    alt={name}
                    class="aspect-auto size-fit"
                  />
                )}
              </LinkButton>
            ))
          }
        </div>
      </div>
    </CardFooter>
  </Card>
  <LinkButton
    href="/auth/signup"
    className="inline-flex items-center justify-center gap-2"
  >
    <p>Don't have an account? Sign up here</p>
    <ArrowRight />
  </LinkButton>
</AuthLayout>
